<div class="mt-6 pt-8 pb-3 border-2 border-gray-100 shadow rounded lg:mt-0 lg:w-1/2 lg:h-4/5">
  <div class="h-full px-4 flex flex-col items-center space-y-8 lg:px-8 xl:px-12">
    <div>
      <h2 class="flex-shrink text-xl font-medium">MY PROJECTS (mentor)</h2>
    </div>
    <div class="flex-grow space-y-6 w-full pt-4">
      <% current_alumni.projects.each do |project| %>
        <div class="w-full flex justify-between items-baseline space-x-4">
          <div class="w-1/2">
            <%= link_to project.name, project_path(project), class:"flex truncate text-red-500 underline font-semibold" %>
          </div>
          <% if project.review? %>
            <span>Review the project of <%= project.entrepreneur.first_name %></span>
          <% elsif project.accepted? %>
            <span>Waiting for confirmation of <%= project.entrepreneur.first_name %></span>
          <% elsif project.pending? %>
            <% nb_cd = project.roles.map{|r| r.candidacies.count}.sum %>
            <span><%= nb_cd == 0 ? "No candidacies yet" : "#{nb_cd} #{pluralize('candidacy', nb_cd)} pending" %></span>
          <% elsif project.development? %>
             <span><%= project.completion %>% completed</span>
          <% elsif project.done? %>
            <span>Done since <%= project.updated_at %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to "All projects", projects_path, class:"hover:opacity-80 w-full py-2 bg-red-500 text-white text-center font-bold text-lg rounded"  %>
  </div>
</div>
