<div class="px-8  lg:pt-16 lg:px-16 xl:px-40 xl:pt-20 2xl:w-4/5 2xl:m-auto">

<div class="lg:grid lg:grid-cols-3 lg:gap-14">

  <div>
    <div class="flex flex-col items-center space-y-3">
      <img class="w-40 h-40 rounded-full"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAwonTmeIeygx0FB_jHT9TAGHsWdE-PG6w8w&usqp=CAU" alt="">
      <h1 class="font-bold text-3xl text-center"><%= @project.name %></h1>
    </div>
  </div>

  <div>
    <div class="pt-6 lg:pt-0 ">
      <h2 class="font-medium text-center text-xl"><%= @project.entrepreneur.company_name %></h2>
    </div>

    <div class="pt-2 lg:pt-8">
      <p class="text-justify font-medium"><%= @project.entrepreneur.about %></p>
    </div>
  </div>
  <div>
    <div class="pt-8 lg:pt-0">
      <h2 class="font-medium text-center text-xl">Project description</h2>
    </div>
    <div class="pt-2 lg:pt-8">
      <p class="text-justify font-medium"><%= @project.description %></p>
    </div>
  </div>





    <div class="lg:order-6">
      <div class="pt-8">
        <h2 class="font-medium text-center text-xl">Project information</h2>
      </div>

      <div class="px-8 pt-4 flex flex-col items-center lg:px-2 lg:pt-8">
        <div class="flex flex-col space-y-3 w-full">
          <% unless @project.duration.nil? %>
            <div class="flex space-x-4 lg:space-x-0">
              <span class="w-1/3">Estimated duration:</span>
              <span><%= @project.duration %> weeks</span>
            </div>
          <% end %>
          <% unless @project.compensation_in_cents.nil? %>
            <div class="flex space-x-4 lg:space-x-0">
              <span class="w-1/3">Compensation :</span>
              <span><%= @project.compensation_in_cents.fdiv(100) %> euros</span>
            </div>
          <% end %>
          <div class="flex space-x-4 lg:space-x-0">
            <span class="w-1/3">Mentor :</span>
            <%= link_to alumni_path(@project.mentor) do %>
              <button class="font-bold underline ml-4"><%= @project.mentor.name %></button>
            <% end %>
          </div>

          <div class="flex space-x-4 items-baseline lg:space-x-0">
            <span class="w-1/3">Backend :</span>
            <div class="flex flex-wrap">
              <% @role_back.language_back_tag_list.each do |language| %>
                <div class="px-2 pt-2 lg:pt-4">
                  <%= content_tag(:div, Language.find_by(name: language).svg.html_safe, class: "w-8") %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="flex space-x-4 items-baseline lg:space-x-0">
            <span class="w-1/3">Frontend :</span>
            <div class="flex flex-wrap">
              <% @role_front.language_front_tag_list.each do |language| %>
                <div class="px-2 pt-2 lg:pt-4">
                  <%= content_tag(:div, Language.find_by(name: language).svg.html_safe, class: "w-8") %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="flex space-x-4 items-baseline lg:space-x-0">
            <span class="w-1/3">UI/UX :</span>
            <div class="flex flex-wrap">
              <% @role_ux_ui.language_ux_ui_tag_list.each do |language| %>
                <div class="px-2 pt-2 lg:pt-4">
                  <%= content_tag(:div, Language.find_by(name: language).svg.html_safe, class: "w-8") %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="lg:col-span-2 lg:row-span-2 lg:order-5 lg:bg-gray-100">
      <div class="pt-8 lg:pt-24">
        <h2 class="font-medium text-center text-xl">TO-DO List</h2>
      </div>


      <% if @project.tasks.present? %>
        <div class="pt-4 flex justify-center lg:pt-16">
          <div class="relative bg-red-300 rounded-full">
            <svg class="progress-ring " width="120" height="120"> <circle id="progress_circle" class= "progress-ring__circle "stroke="#d23333" stroke-width="15" fill="transparent" r="52" cx="60" cy="60"/></svg>
            <div class="absolute flex bg-white items-center justify-center w-24 h-24 rounded-full" style="top:10%; left:10%;">
              <span class="font-bold text-2xl"><%= @project.completion %>%</span>
            </div>
          </div>
          <input
              id = "progress_number"
              class = "hidden"
              value="<%= @project.completion %>"
              type="number"
              step="5"
              min="0"
              max="100"
              placeholder="progress"
            >
        </div>

        <div class="px-8 pt-8 flex flex-col justify-end items-center lg:pt-20">
          <div class="flex flex-col space-y-3 lg:space-y-12">
            <% @project.tasks.each do |task| %>
              <div class="">
                <%= link_to complete_project_task_path(@project, task), class:'inline-flex items-center' do %>
                  <% if task.completed? %>
                    <svg class="w-6 flex flex-shrink-0" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.667 0A5.333 5.333 0 0120 5.333v9.334A5.333 5.333 0 0114.667 20H5.333A5.333 5.333 0 010 14.667V5.333A5.333 5.333 0 015.333 0h9.334zm-.164 6.839a.54.54 0 00-.735-.053l-.057.053-4.831 5.074-2.59-2.721a.541.541 0 00-.793 0 .61.61 0 00-.05.772l.05.06 2.987 3.137c.2.21.515.228.735.053l.057-.053 5.227-5.49a.61.61 0 000-.832z" fill="#D23333"/></svg>
                  <% else %>
                    <svg class="w-6 flex flex-shrink-0" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M15.667 1A5.333 5.333 0 0121 6.333v9.334A5.333 5.333 0 0115.667 21H6.333A5.333 5.333 0 011 15.667V6.333A5.333 5.333 0 016.333 1h9.334z" stroke="#96999C" stroke-width="2"/></svg>
                  <% end %>
                  <div class="ml-4">
                    <%= task.name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="text-center pt-2 italic ">Vide pour le moment.</p>
      <% end %>
    </div>


    <div class="lg:order-4">
      <div class="pt-8 lg:pt-24">
        <h2 class="font-medium text-center text-xl">Alumni team</h2>
      </div>

      <div class="pt-4 px-8 flex flex-col space-y-3 lg:px-10 lg:pt-8">
        <div class="inline-flex items-center">
          <span>Backend:</span>
          <div class="flex justify-end space-x-2 w-full">
            <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="14.4" fill="#fff" stroke="#000" stroke-width=".2"/><path d="M14.256 16.598c.008-.465.06-.832.158-1.102.098-.27.297-.568.598-.896l.767-.791c.328-.371.492-.77.492-1.196 0-.41-.107-.73-.322-.96-.215-.235-.527-.352-.937-.352-.399 0-.719.105-.961.316-.242.211-.364.494-.364.85h-1.083c.007-.633.232-1.143.673-1.53.446-.39 1.024-.585 1.735-.585.738 0 1.312.199 1.722.597.414.395.621.938.621 1.63 0 .683-.316 1.356-.949 2.02l-.638.633c-.286.317-.428.772-.428 1.366h-1.084zm-.047 1.857c0-.176.053-.322.158-.44.11-.12.27-.181.48-.181.212 0 .372.06.481.182a.62.62 0 01.164.44.619.619 0 01-.164.439c-.11.113-.27.17-.48.17-.211 0-.371-.057-.48-.17a.632.632 0 01-.159-.44z" fill="#000"/></svg>
            <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="14.4" fill="#fff" stroke="#000" stroke-width=".2"/><path d="M14.256 16.598c.008-.465.06-.832.158-1.102.098-.27.297-.568.598-.896l.767-.791c.328-.371.492-.77.492-1.196 0-.41-.107-.73-.322-.96-.215-.235-.527-.352-.937-.352-.399 0-.719.105-.961.316-.242.211-.364.494-.364.85h-1.083c.007-.633.232-1.143.673-1.53.446-.39 1.024-.585 1.735-.585.738 0 1.312.199 1.722.597.414.395.621.938.621 1.63 0 .683-.316 1.356-.949 2.02l-.638.633c-.286.317-.428.772-.428 1.366h-1.084zm-.047 1.857c0-.176.053-.322.158-.44.11-.12.27-.181.48-.181.212 0 .372.06.481.182a.62.62 0 01.164.44.619.619 0 01-.164.439c-.11.113-.27.17-.48.17-.211 0-.371-.057-.48-.17a.632.632 0 01-.159-.44z" fill="#000"/></svg>
          </div>
        </div>
        <div class="inline-flex items-center">
          <span>Frontend:</span>
          <div class="flex justify-end space-x-2 w-full">
            <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="14.4" fill="#fff" stroke="#000" stroke-width=".2"/><path d="M14.256 16.598c.008-.465.06-.832.158-1.102.098-.27.297-.568.598-.896l.767-.791c.328-.371.492-.77.492-1.196 0-.41-.107-.73-.322-.96-.215-.235-.527-.352-.937-.352-.399 0-.719.105-.961.316-.242.211-.364.494-.364.85h-1.083c.007-.633.232-1.143.673-1.53.446-.39 1.024-.585 1.735-.585.738 0 1.312.199 1.722.597.414.395.621.938.621 1.63 0 .683-.316 1.356-.949 2.02l-.638.633c-.286.317-.428.772-.428 1.366h-1.084zm-.047 1.857c0-.176.053-.322.158-.44.11-.12.27-.181.48-.181.212 0 .372.06.481.182a.62.62 0 01.164.44.619.619 0 01-.164.439c-.11.113-.27.17-.48.17-.211 0-.371-.057-.48-.17a.632.632 0 01-.159-.44z" fill="#000"/></svg>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="pt-8 flex space-x-4 w-full lg:pt-24 lg:pb-8">
    <% if @project.accepted? && pundit_user == @project.entrepreneur %>
      <div class="w-1/2 lg:pl-28">
        <%= simple_form_for @project do |f| %>
          <% hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.hidden_field :status, value: "pending" %>
          <%= f.submit "Confirm project", class: "w-full py-2 px-2 bg-red-500 text-white text-lg font-semibold rounded" %>
        <% end %>
      </div>
      <div class="w-1/2 lg:pr-28">
        <%= link_to "Contact Mentor", alumni_path(@project.mentor), class: "w-full py-2 px-2 bg-red-500 text-white text-lg font-semibold rounded" %>
      </div>
    <% elsif pundit_user == @project.entrepreneur %>
      <div class="w-full lg:pr-28">
        <%= link_to alumni_path(@project.mentor) do %>
          <button class="w-full py-2 px-2 bg-red-500 text-white text-lg font-semibold rounded">Contact Mentor</button>
        <% end %>
      </div>
    <% elsif pundit_user == @project.mentor %>
      <div class="w-full lg:pr-28">
        <%= link_to root_path do %>
          <button class="w-full py-2 px-2 bg-red-500 text-white text-lg font-semibold rounded">Show candidacies</button>
        <% end %>
      </div>
    <% elsif  @project.pending? && pundit_user.instance_of?(Alumni) && !pundit_user.is_mentor? && @applyable %>
      <% @project.roles.reject{|r| r.name == "mentor"}.each do |role| %>
        <% if role.candidacies.find_by(alumni: pundit_user).present? && role.candidacies.find_by(alumni: pundit_user).refused? %>
          <span>You'r not selected, bybye</span>
        <% elsif role.candidacies.find_by(alumni: pundit_user) %>
          <span>You have already applied</span>
        <% else %>
          <%= link_to "Apply to #{role.name}", project_role_candidacies_path(@project, role), method: :post,  class:'w-full py-2 px-2 bg-red-500 text-white text-lg font-semibold rounded' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
  <div data-controller="modale" class="lg:static">
    <% if @project.accepted? && pundit_user == @project.entrepreneur %>
      <%= render 'projects/shared/modals/modale_entrepreneur_accepted'%>
    <% elsif @project.accepted? && pundit_user == @project.mentor %>
      <%= render 'projects/shared/modals/modale_mentor_accepted'%>
    <% elsif @project.pending? && @applying %>
      <%= render 'projects/shared/modals/modale_alumni_pending'%>
    <% end %>
  </div>
</div>

