<div class="px-12 py-4">
  <div>
    <div class="flex flex-col items-center space-y-3">
      <svg class="w-20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5" fill="#C4C4C4"/></svg>
      <h1 class="font-bold text-3xl">Company Name</h1>
    </div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs pt-8 space-y-4">

      <%= f.input :about,
                    required: false,
                    label: 'About',
                    placeholder: 'Describe yourself',
                    input_html: { class: "px-2 my-2 pt-2 pb-40 border-2 border-gray-200 w-full"},
                    label_html: { class: "flex justify-center text-2xl font-medium"} %>
        <%= f.input :company_name,
                      required: false,
                      label: 'Company name*',
                      placeholder: 'Company name*',
                      input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>
        <%= f.input :phone,
                      required: false,
                      label: 'Phone number*',
                      placeholder: 'Phone number*',
                      input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>

      <%= f.input :first_name,
                    required: false,
                    label: 'First name*',
                    placeholder: 'First name*',
                    input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>

      <%= f.input :last_name,
                    required: false,
                    label: 'Last name*',
                    placeholder: 'Last name*',
                    input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>

      <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: 'Email*',
                    placeholder: 'Email*',
                    input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>

      <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    label: 'Password',
                    placeholder: 'Password*',
                    input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>

      <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    placeholder: 'Confirm password*',
                    label: 'Confirm password',
                    input_html: { class: "px-2 my-2 py-2 border-2 border-gray-200 w-full text-sm"} %>
    </div>

    <div class="form-actions py-4">
      <%= f.button :submit, "Save changes", class:"w-full py-3 rounded bg-red-500 text-white font-bold text-lg" %>
    </div>
  <% end %>
</div>
