<div class="px-8 py-6 lg:px-28 xl:px-48 2xl:w-2/3 2xl:m-auto">


  <div>
    <h1 class="font-bold text-3xl text-center">Articles</h1>
  </div>

  <%= link_to new_article_path do  %>
    <div class="pt-4 text-center">
      <button>
        <span>+</span>
        <span class="underline font-medium">Write a new article</span>
      </button>
    </div>
  <% end %>

  <div class="pt-6 px-6 text-center">
    <input class="w-full px-2 py-2 border-2 border-gray-200" type="text" placeholder="Search by article name or author">

  </div>

  <div class="pt-16 flex flex-col space-y-6 lg:grid-cols-2 lg:grid lg:space-y-0 lg:gap-x-12 lg:gap-y-12">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class:"group" do %>
        <div class="group-hover:bg-gray-200 px-6 py-6 flex flex-col border-2 border-gray-400 border-opacity-30 rounded-xl shadow">
          <div class="flex justify-between items-baseline w-full">
            <div>
              <span class="text-lg font-medium">by</span>
              <span class="text-lg font-bold"><%= article.alumni.name %> </span>
            </div>
          </div>
          <div class="pt-4">
            <h2 class="text-2xl font-bold"><%= article.title %></h2>
          </div>
          <div class="py-4">
            <p><%= article.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
