<div class="px-8 xl:px-56">
  <div class="lg:flex lg:space-x-8 lg:pt-14 lg:justify-center lg:h-screen">

    <% if current_alumni.is_mentor? %>
      <%= render 'alumnis/shared/mentors_projects' %>
    <% else %>
      <%= render 'alumnis/shared/alumnis_projects' %>
    <% end %>


    <div class="mt-6 pt-8 pb-3 border-2 border-gray-100 shadow rounded lg:mt-0 lg:w-1/2 lg:h-4/5">
      <div class="h-full px-4 flex flex-col items-center space-y-8 lg:px-8 xl:px-12">
        <div>
          <h2 class="flex-shrink text-xl font-medium text-center">MY ARTICLES</h2>
        </div>
        <div class="flex-grow space-y-6 w-full pt-4">
          <% current_alumni.articles.each do |article| %>
            <div class="w-full flex justify-between">
              <%= link_to "#{article.title}", article_path(article), class:"text-red-500 font-medium"%>
              <div class="space-x-1">
                <%= link_to "âœï¸", edit_article_path(article) %>
                <%= link_to 'ðŸ—‘ï¸',  article ,  method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        </div>

          <%= link_to '+ Write a new article', new_article_path, class:"w-full text-center underline font-medium"  %>
          <%= link_to "Library", articles_path, class:"hover:opacity-80 w-full py-2 bg-red-500 text-white text-center font-bold text-lg rounded"  %>

      </div>
    </div>
  </div>
</div>
