<% if current_entrepreneur %>

  <div data-menu-target="toggleable" class="hidden absolute z-40 right-0 -mt-3 mr-1 w-60 flex flex-col items-start rounded-xl overflow-hidden">
      <%= link_to "My dashboard", dashboard_entrepreneurs_path, class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= link_to "My profile", entrepreneur_path(current_entrepreneur), class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= link_to "Post a project", new_project_path, class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= pundit_user.class == 'Alumni' ? (link_to "Log out", destroy_alumni_session_path, method: :delete, class: "dropdown-item px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500") : (link_to "Log out", destroy_entrepreneur_session_path, method: :delete, class: "dropdown-item px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500") %>
  </div>

<% else %>

  <div data-menu-target="toggleable" class="hidden absolute z-40 right-0 -mt-3 mr-1 w-60 flex flex-col items-start rounded-xl overflow-hidden">
      <%= link_to "My dashboard", dashboard_alumnis_path, class:" px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500" %>
      <%= link_to "My profile", alumni_path(current_alumni), class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= link_to "Projects", projects_path, class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= link_to "Alumnis", alumnis_path, class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= link_to "Library", articles_path, class:'px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500' %>
      <%= pundit_user.class == 'Alumni' ? (link_to "Log out", destroy_alumni_session_path, method: :delete, class: "dropdown-item px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500") : (link_to "Log out", destroy_entrepreneur_session_path, method: :delete, class: "dropdown-item px-3 py-3 text-gray-600 text-left text-xl w-full bg-white hover:text-white hover:bg-red-500") %>
  </div>
<% end %>
