<div class="px-8">
  <div>
    <div class="flex flex-col items-center space-y-3">
      <svg class="w-20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5" fill="#C4C4C4"/></svg>
      <h1 class="font-bold text-3xl">Project Name</h1>
    </div>
  </div>


  <div class="pt-4">
    <h2 class="font-medium text-center text-xl">Company name</h2>
  </div>

  <div class="pt-8">
    <p class="text-justify">Short description of the company Short description of the company Short description of the company Short description of the company.</p>
  </div>


  <div class="pt-8">
    <%= simple_form_for @project do |f| %>
    <div class="space-y-4">
      <div>
        <h2 class="text-center text-lg font-medium">Project description</h2>
      </div>
      <%= f.input :description,
                      label: false,
                      placeholder: 'Explain the project to the alumni...',
                      input_html: { class: "px-2 pt-2 pb-40 border-2 border-gray-200 w-full"} %>

      <div>
        <h2 class="text-center text-lg font-medium">Project information</h2>
      </div>

      <%= f.input :duration,
                      required: false,
                      label: false,
                      placeholder: 'Estimated duration',
                      input_html: { class: "px-2 px-2 border-2 border-gray-200 w-full"} %>

      <%= f.input :compensation_in_cents,
                      required: false,
                      label: false,
                      placeholder: 'Compensation',
                      input_html: { class: "px-2 px-2 border-2 border-gray-200 w-full"} %>

      <div class=" py-2">
        <%= f.submit 'Create project page', class:"w-full py-3 rounded bg-red-500 text-white font-medium"  %>
      </div>
    </div>
    <% end %>

  </div>
</div>
