
<div class="px-8 py-8 lg:px-40 xl:px-72 2xl:w-2/3 2xl:m-auto">
  <div>
    <input class="w-full px-4 py-2 border-2 border-gray-200" type="text" placeholder="Search by project name, project leader">
  </div>

  <div class="pt-16 flex flex-col space-y-12 lg:grid-cols-2 lg:grid lg:space-y-0 lg:gap-x-12 lg:gap-y-12">
    <% @projects.each do |project| %>
    <div class="px-6 py-8 border-2 border-gray-400 border-opacity-30 rounded-xl flex flex-col shadow">
      <div>
        <h2 class="font-bold text-2xl"><%= project.name %></h2>
      </div>
      <div class="pt-6">
        <span class="text-lg">by</span>
        <span class="font-bold text-xl"><%= project.entrepreneur.company_name %> </span>
      </div>
      <div class="pt-1">
        <span class="text-lg">mentored by</span>
        <%= link_to alumni_path(project.mentor) do %>
          <span class="font-bold text-xl"><%= project.mentor.name %></span>
        <% end %>
      </div>
      <div class="pt-4">
        <p><%= project.description %></p>
      </div>
      <div class="pt-6">
        <span>This project needs :</span>
      </div>
      <div class="pt-4 inline-flex justify-center space-x-12">
        <%= @languages %>
      </div>
      <div class="pt-10">
        <%= link_to project_path(project), class:"group" do %>
          <button class="group-hover:opacity-80 w-full py-3 rounded bg-red-500 text-white font-bold text-lg">See more</button>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
