<div class="lg:w-2/5 lg:pt-14 xl:w-1/3 m-auto xl:px-24">

<h1 class="text-center text-3xl font-bold">Log in</h1>

<div class="px-10 py-6 text-center">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs space-y-2">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: false,
                  placeholder: 'Email*',
                  input_html: { class: "px-2 py-2 border-2 border-gray-200 w-full"} %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  label: false,
                  placeholder: 'Password*',
                  input_html: { class: "px-2 py-2 border-2 border-gray-200 w-full"} %>

    </div>

    <div class="form-actions py-4">
      <%= f.button :submit, "Log in", class:"w-full py-4 rounded bg-red-500 text-white font-bold text-lg" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
  <div class="pb-6 text-center">
    <button class="text-red-500 font-bold">Back to homepage</button>
  </div>
</div>

